__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.DS_Store
Thumbs.db

venv/
env/
.env

data/input/*.mp4
data/input/*.avi
data/output/*.mp4
data/output/*.avi

!data/input/*.jpg
!data/input/*.png

!assets/